GATSBY_IMS_SRC="https://auth-stg1.services.adobe.com/imslib/imslib.min.js"
GATSBY_IMS_CONFIG='{"client_id": "stage_adobe_io", "scope": "AdobeID,openid,unified_dev_portal,read_organizations,additional_info.projectedProductContext,additional_info.roles,gnav,read_pc.dma_bullseye,creative_sdk,adobeio_api,service_principals.read,service_principals.write,read_client_secret", "environment": "stg1"}'
GATSBY_TEMPLATE_ID="664e39607dcc7c0e5a4a035b"
GATSBY_PRODUCT_NAME="Adobe Express Embed SDK"