---
  name: Deployment
  on:
    workflow_dispatch:
      inputs:
        env:
          description: "Deploy to (dev|prod|dev prod)"
          required: true
          type: string
          default: "dev"
        clean:
          description: "Clean cache"
          required: true
          type: boolean
          default: false
        excludeSubfolder:
          description: "Exclude a subfolder from deletion"
          required: false
          type: string
          default: ""
        index-mode:
          description: 'Type of indexing. "index" to push to Algolia, "console" for dry run.'
          required: true
          default: "index"
          type: choice
          options:
            - console
            - index
  jobs:
    deployment:
      name: Deployment
      uses: AdobeDocs/adp-devsite-workflow/.github/workflows/gatsby-deploy.yml@main
      secrets: inherit
      with:
        env: ${{ inputs.env }} # actionlint: ignore
        clean: ${{ inputs.clean }} # actionlint: ignore
        excludeSubfolder: ${{ inputs.excludeSubfolder }} # actionlint: ignore
        index-mode: ${{ inputs.index-mode }} # actionlint: ignore
        NODE_OPTIONS: "--max_old_space_size=24576"
        TEMPLATE_ID_DEV: "664e39607dcc7c0e5a4a035b"
        TEMPLATE_ID_PROD: "668d73f3f8897660ad74d577"
